body, html {
    margin-top: 60px;
  }


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 400px) {  
  #title {font-size: 40px;}
  #subtitle {font-size: 20px;}
  #img-caption {font-size: 15px;}
  .card-title {font-size: 20px;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
  #title {font-size: 80px;}
  #subtitle {font-size: 50px;}
  #img-caption {font-size: 18px;}
  .card-title {font-size: 30px;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #title {font-size: 90px;}
  #subtitle {font-size: 50px;}
  #img-caption {font-size: 18px;}
  .card-title {font-size: 30px;}
}